<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  
  
  <% if flash[:notice] %>
    <%= content_tag :h1, flash[:notice] %>
    <% else %>
    <%= content_tag :h1, "User Login" %>
  <% end %>

<div class="form-center">
    <%= form_with url: sessions_path do |f| %>
      <%= f.text_field :email, placeholder: "Email" %><br>
      
      <%= f.password_field :password,  placeholder: "Password" %><br>
      
      <%= f.submit "Sign In!" %>
</div>

<div class="signup">
    <span>Don't have an Intertwine account?
      <%= link_to "Sign Up", new_user_path, class: "link" %></span>
      <% end %>
    </div>
 
</html>



<style>

  html {
      background: url("https://1.bp.blogspot.com/-Qdy-KD4eH24/W78GvmeCVyI/AAAAAAAAEBU/1Ig8PwvgyA8f9m3dHppwiO952AQ0H_nmACLcBGAs/s1600/c_bg_0002.png") no-repeat scroll 0 0;

  }

  .container {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.5); 
    margin-top: 100px;
    padding: 50px 60px 45px;
    width: 300px;
    backdrop-filter: blur(5px);
  }

  body {
    background: none;
  }

  h1 {
    text-align: center; 
    margin-bottom: 30px;
    font-family: palatino;
    text-shadow: 1px 2px 2px rgba(40,40,40,0.36);
    color: white;
  }

  .form-center {
    display:flex;
    justify-content: center;
  }

  input[type="text"] {
    border: 0 solid #e0e0e0;
    border-width: 1px;
    border-radius: 0.25em;
    margin-bottom: 15px;
    width: 157px;
    height: 25px;
    font-family: palatino;
  }

  input[type="password"] {
    border: 0 solid #e0e0e0;
    border-width: 1px;
    border-radius: 0.25em;
    margin-bottom: 15px;
    width: 157px;
    height: 25px;
    font-family: palatino;
  }

  input[type="submit"] {
    color: white;
    background-color: rgba(83,164,49,0.63);    width: 157px;
    text: bold;
    border: none;
    height: 30px;
    font-family: palatino;
  }

  a.link {
    display: inline-block;
    font-family: palatino;
    color: orange;
  }

  .signup {
    text-align: center;
    margin-top: 27px;
    font-family: palatino;
    color: white;
  }


 

</style>